.body {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

/* navbar start   */

.header {
    border-bottom: 1px solid #f5f5f5;
    position: fixed;
    width: 100%;
    z-index: 998;


}

.navbar-custom {
    border: 0;
    border-radius: 0;
    margin: 0;
    text-transform: uppercase;
    font-family: Raleway, sans-serif;

}

.navbar-custom,
.navbar-custom .dropdown-menu {
    background: #fff;
    padding: 0;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav>li>a,
.navbar-custom .navbar-nav .dropdown-menu>li>a {
    font-size: 11px;
    letter-spacing: 2px;
    color: #111;
    padding: 10px 11px;
}

.navbar-custom .nav li.active,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .navbar-nav>li.active a {
    background: none;
    outline: 0;
    color: #FF7043;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
    font-size: 22px;
    font-family: Lobster, cursive;
}

.navbar-custom .dropdown-menu {
    border: 0;
    border-top: 2px solid #E7746F;
    border-radius: 0;
}

.navbar-custom .dropdown-menu>li>a {
    padding: 10px 20px;
}

.navbar-custom .nav .open>a,
.navbar-custom .dropdown-menu>li>a:hover,
.navbar-custom .dropdown-menu>li>a:focus {
    background: #f5f5f5;
}

.navbar-custom .navbar-toggle .icon-bar {
    background: #222;
}


/* navbar end   */

.sci-life {
    text-align: center;
    font-family: Raleway, "Times New Roman", Times, sans-serif;
    color: rgb(8, 8, 8);
    font-size: 44px;
    font-weight: 700;
    padding-top: 70px;
}

.sci-life::after {
    content: "";
    width: 20%;
    height: 5px;
    background: rgba(255, 115, 0, 0.829);
    display: table;
    margin-left: 450px;
}

.sci-life::before {
    content: "";
    width: 20%;
    height: 5px;
    background: rgba(255, 115, 0, 0.829);
    display: table;
    margin-left: 600px;
}

#video {

    background: #f0ecec;

}

.col-sm-6 {
    background: #f0ecec;
    height: 600px;
}

.video1 {
    width: 98%;
    height: 400px;
    margin-left: 40px;
    position: relative;
    margin-top: 105px;
}

.video-title h3 {
    font-family: Raleway, "Times New Roman", Times, sans-serif;
    font-weight: 600;
    padding-left: 40px;
}

.topic {
    width: 100%;


}

.topic h3 {
    padding-left: 40px;
    padding-top: 70px;
    font-family: Raleway, "Times New Roman", Times, sans-serif;
    font-weight: 700;
    border-bottom: solid 1px #FF7043;
    text-align: center;
    border-radius: 100%;
    font-size: 45px;
    font-weight: 700;
    width: 90%;


}

.topic ul {
    border: 0;
    border-radius: 0;
    margin: 10px;
    text-transform: uppercase;
    font-family: Raleway, sans-serif;
    font-size: 23px;
    padding-left: 150px;
    padding-top: 25px;



}

.topic ul li {

    padding: 15px;
    list-style: none;
    border-bottom: solid 1px #FF7043;

    width: 350px;





}

.topic ul li a {
    color: black;
    display: inline-block
}

.topic ul li a:hover {
    color: #FF7043;
    text-decoration: none;
}


/* btn start   */

.btn {

    color: whitesmoke;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 40px;
    display: inline-block;
    margin-top: 10px;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
    animation: moveInBottom;
    background: #FF7043;
    font-family: Raleway, "Times New Roman", Times, sans-serif;
    margin-left: 210px;

}

btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
    background-color: #FF7043;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}


.w3-container {
    text-align: center;
    font-family: Raleway, "Times New Roman", Times, sans-serif;
}


.video2 {
    width: 360px;
    height: 250px;
    margin-left: 50px;

}

.btn {
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    padding: 8px 26px;
    border: 0;
}



.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
    outline: inherit !important;
}

/* btn start   */

.btn1 {

    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 20px;
    display: inline-block;
    margin-left: 150px;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
    animation: moveInBottom;
    background: rgba(255, 115, 0, 0.829);
    font-family: Raleway, "Times New Roman", Times, sans-serif;
    margin-top: 10x;
}

.btn1:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(207, 124, 14, 0.945);
}

.btn1:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn1::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
    background-color: rgb(221, 120, 26);
}

.btn1:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.choise {
    padding-left: 60px;
    font-size: 15px;
    color: #111;
    font-weight: 600;
}


/* footer start   */



#footer {
    background: #222;
    text-align: center;
    padding: 50px 0;
    color: #FFF;
    margin-top: 400px;
    clear: both;

}

.copyright {
    margin: 0;
}

.copyright a {
    border-bottom: 1px dotted #fff;
}

#footer span {
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    color: #ff5252;
}

.social-links {
    list-style: none;
    padding: 0;
    margin: 0 0 20px;
}

.social-links li {
    display: inline-block;
    margin: 5px;
}

.social-links a {
    width: 36px;
    height: 36px;
    display: block;
    line-height: 35px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.521);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.63);
}

.social-links a:hover {
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

/* footer end  */