.body {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

/* navbar start   */

.header {
    border-bottom: 1px solid #f5f5f5;
    position: fixed;
    width: 100%;
    z-index: 998;


}

.navbar-custom {
    border: 0;
    border-radius: 0;
    margin: 0;
    text-transform: uppercase;
    font-family: Raleway, sans-serif;

}

.navbar-custom,
.navbar-custom .dropdown-menu {
    background: rgba(255, 115, 0, 0.829);
    padding: 0;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav>li>a,
.navbar-custom .navbar-nav .dropdown-menu>li>a {
    font-size: 11px;
    letter-spacing: 2px;
    color: #111;
    padding: 10px 11px;
}

.navbar-custom .nav li.active,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .navbar-nav>li.active a {
    background: none;
    outline: 0;
    color: #fff;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
    font-size: 22px;
    font-family: Lobster, cursive;
}

.navbar-custom .dropdown-menu {
    border: 0;
    border-top: 2px solid #E7746F;
    border-radius: 0;
}

.navbar-custom .dropdown-menu>li>a {
    padding: 10px 20px;
}

.navbar-custom .nav .open>a,
.navbar-custom .dropdown-menu>li>a:hover,
.navbar-custom .dropdown-menu>li>a:focus {
    background: #f5f5f5;
}

.navbar-custom .navbar-toggle .icon-bar {
    background: #222;
}


/* navbar end   */


#video {

    background: #f0ecec;

}

.col-sm-6 {
    background: #f0ecec;
    height: 550px;

}

.video1 {
    width: 98%;
    height: 400px;
    margin-left: 40px;
    position: relative;
    margin-top: 105px;
}

.video-title h3 {
    font-family: Raleway, "Times New Roman", Times, sans-serif;
    font-weight: 600;
    padding-left: 40px;
}

.sci-left {
    padding-left: 50px;
    padding-top: 99px;
}

.title {
    text-align: center;
    font-family: Raleway, "Times New Roman", Times, sans-serif;
    color: rgb(8, 8, 8);
    font-size: 44px;
    font-weight: 700;

}

.title::after {
    content: "";
    width: 20%;
    height: 5px;
    background: rgba(255, 115, 0, 0.829);
    display: table;
    margin-left: 150px;
}

.title::before {
    content: "";
    width: 20%;
    height: 5px;
    background: rgba(255, 115, 0, 0.829);
    display: table;
    margin-left: 300px;
}

.sci-life {
    text-align: center;
    font-family: Raleway, "Times New Roman", Times, sans-serif;
    color: rgb(8, 8, 8);
    font-size: 44px;
    font-weight: 700;
    padding-top: 50px;
}

.sci-life::after {
    content: "";
    width: 20%;
    height: 5px;
    background: rgba(255, 115, 0, 0.829);
    display: table;
    margin-left: 450px;
}

.sci-life::before {
    content: "";
    width: 20%;
    height: 5px;
    background: rgba(255, 115, 0, 0.829);
    display: table;
    margin-left: 600px;
}

.video2 {
    width: 360px;
    height: 250px;
    margin-left: 50px;

}

.btn {
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    padding: 8px 26px;
    border: 0;
}



.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
    outline: inherit !important;
}

/* btn start   */

.btn {

    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 20px;
    display: inline-block;
    margin-left: 150px;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
    animation: moveInBottom;
    background: rgba(255, 115, 0, 0.829);
    font-family: Raleway, "Times New Roman", Times, sans-serif;
    margin-top: 10x;
}

btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(207, 124, 14, 0.945);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
    background-color: rgb(221, 120, 26);
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

/* footer start   */



#footer {
    background: #222;
    text-align: center;
    padding: 50px 0;
    color: #FFF;
    margin-top: 20px;
    clear: both;

}

.copyright {
    margin: 0;
}

.copyright a {
    border-bottom: 1px dotted #fff;
}

#footer span {
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    color: #ff5252;
}

.social-links {
    list-style: none;
    padding: 0;
    margin: 0 0 20px;
}

.social-links li {
    display: inline-block;
    margin: 5px;
}

.social-links a {
    width: 36px;
    height: 36px;
    display: block;
    line-height: 35px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.521);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.63);
}

.social-links a:hover {
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

.footer1 {
    margin-top: 600px;
}




/* footer end  */

.engineering {
    padding-left: 70px;
    font-size: 15px;
    color: black;
    font-weight: 600;


}

.choise {
    padding-left: 60px;
    font-size: 15px;
    color: #111;
    font-weight: 600;
}