.title {
    text-align: center;
    font-family: Raleway, "Times New Roman", Times, sans-serif;


    width: 100%;
    height: 150px;
    color: rgb(8, 8, 8);
    font-size: 44px;
    font-weight: 700;
    padding-top: 20px;

}

.title::after {
    content: "";
    width: 20%;
    height: 5px;
    background: rgba(255, 115, 0, 0.829);
    display: table;
    margin-left: 350px;
}

.title::before {
    content: "";
    width: 20%;
    height: 5px;
    background: rgba(255, 115, 0, 0.829);
    display: table;
    margin-left: 650px;
}

.web-img {
    background-image: url(../images/code.jpg);
    width: 300px;
    height: 180px;
    background-size: 300px 180px;
    margin: 50px;
    margin-left: 80px;
    position: relative;
}

.row {
    margin: 50px;
}

.web-title {
    padding-top: 65px;
    color: rgba(0, 0, 0, 0.829);
    font-size: 20px;

}

.web-title1 {
    font-weight: 700;
}

.web-title1::after {
    content: "";
    width: 110px;
    height: 3px;
    background: rgba(255, 115, 0, 0.829);
    display: table;
}

.web-title1::before {
    content: "";
    width: 110px;
    height: 3px;
    background: rgba(255, 115, 0, 0.829);
    display: table;
    margin-left: 530px;
}

.web-content p {
    padding-top: 15px;
    font-size: 17px;
    color: black;
}

.web-content1 {
    padding-left: 50px;
}

.web1 {
    padding-left: 200px;
    padding-right: 200px;
    background: rgb(243, 243, 243);

}

.web1 a {
    color: rgba(0, 0, 0, 0.829);
    font-size: 20px;
    text-align: center;
    font-weight: 700;
}

.web1 a:hover {
    color: rgb(54, 103, 146);
    text-decoration: none;
}


.web1 a::after {
    content: "";
    width: 90px;
    height: 3px;
    background: rgba(255, 115, 0, 0.829);
    display: table;
}

.web1 a::before {
    content: "";
    width: 90px;
    height: 3px;
    background: rgba(255, 115, 0, 0.829);
    display: table;
    margin-left: 150px;
}

.web1 p {
    font-size: 17px;
    color: black;
    padding-top: 15px;
}

.web2 {
    background: #fff;
    padding-top: 35px;
}

.web3 {
    padding-top: 35px;
}

.web4 {
    background: #fff;
    padding-top: 35px;
}

.web5 {
    padding-top: 35px;
}

.web6 {
    background: #fff;
    padding-top: 35px;
}

.web7 {
    padding-top: 35px;
}

.web8 {
    background: #fff;
    padding-top: 35px;
}


/* footer start   */



#footer {
    background: #222;
    text-align: center;
    padding: 50px 0;
    color: #FFF;
    margin-top: 50px;
}

.copyright {
    margin: 0;
}

.copyright a {
    border-bottom: 1px dotted #fff;
}

#footer span {
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    color: #ff5252;
}

.social-links {
    list-style: none;
    padding: 0;
    margin: 0 0 20px;
}

.social-links li {
    display: inline-block;
    margin: 5px;
}

.social-links a {
    width: 36px;
    height: 36px;
    display: block;
    line-height: 35px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.521);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.63);
}

.social-links a:hover {
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}




/* footer end  */